:root{
  main-font:"Amiri"
}

body{
  font-family: var(--main-font),sans-serif;
  margin:0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("./picture/Untitled.jpeg") center center/ cover no-repeat ;
  font-family: var(--main-font),sans-serif;

}


#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
#title{

  padding: 10px 20px;
  margin: 0;
  
}

#fonts{
  width: 30%;
  
}
select{
  width: 400px;
  height: 30px;
  border: 1px solid black;
  border-radius: 27px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(1, 4, 7, 0.158);
}

.Home{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navcontiner{
  position: sticky;
  top: 0;
  z-index:9999;
  background: url("./picture/Untitled.jpeg") center center/ cover no-repeat ;
  height: 140px !important;
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  height: 120px;
  width: 100vw;
  
}

.link{
  font-size: 23px;
  text-decoration:none;
  color: black;
  padding: 5px 10px;
  background-color: rgba(1, 6, 10, 0.048);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px;
  cursor: pointer;
}
.link:hover{
  border: 2px solid black;
  border-radius: 20px;
}
.search{
  margin-top: 20px;
}

.paramiter{
  position: absolute;
  top:20%;
  height: 40%;
  background: url("./picture/Untitled.jpeg") center center/ cover no-repeat ;
  box-shadow:1px 1px 30px;
  width: 60%;
  border-radius: 50px;
  z-index: 9999;
}
#font_size{
  width: 30%;
}


.quotes {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.822);
  border-radius: 20px;
  width: 90%;
  margin: 15px;
  box-shadow:2px 2px 10px 2px;
  background: url("./picture/Untitled.jpeg") center center/ cover no-repeat ;
  transition:transform 0.3 ease ;
}
.quotes:hover{
  transform: translateY(-8px) scale(1.05) ;
    
  };
  
 
.quotes h3{ 
  line-height: 1.5;
}
.copy{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}


.continer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
option{
  background-color: rgba(240, 248, 255, 0);
}
.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

@media (min-width:1000px) {
  .display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}




