:root{
  main-font:"Amiri"
}

body{
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("./picture/Untitled.jpeg") center center/ cover no-repeat ;
  font-family: var(--main-font),sans-serif;

}

#fonts{
  width: 50%;
  
}
select{
  width: 400px;
  height: 30px;
  border: 1px solid black;
  border-radius: 27px;
  margin: 30px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(1, 4, 7, 0.158);
}

.Home{
  padding-top:30px ;
  width:100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 100vw;
  
}
.link{
  font-size: 23px;
  margin: 40px;
  text-decoration:none;
  color: black;
  padding: 10px;
  
}
.link:hover{
  border: 2px solid black;
  border-radius: 20px;
}

.quotes {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 90%;
  margin: 10px;
  box-shadow:2px 2px 10px 2px;
}

.quotes h3{ 
  line-height: 1.5;
}

.continer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
option{
  background-color: rgba(240, 248, 255, 0);
}

@media (min-width:1000px) {
  .display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}




